<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= name %></title>
  <link rel="stylesheet" href="css/<%= name %>.css">
</head>
<body>
  <div id="App"></div>

  <script src="./js/<%= name %>.js"></script>
</body>
</html>
