@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: 'Helvetica Neue', Sans Serif;
  background: rgba(0, 0, 0, 0.8);
  padding: 0px;
  margin: 0px; }
