@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@mixin gradientBorder($width) {
  border: $width solid transparent;
  -moz-border-image: -moz-linear-gradient(right, rgba(255, 127, 80, .3) 0%, coral 100%);
  -webkit-border-image: -webkit-linear-gradient(right, rgba(255, 127, 80, .3) 0%, coral 100%);
  border-image: linear-gradient(to right, rgba(255, 127, 80, .3) 0%, coral 100%);
  border-image-slice: 1;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px; 
  font-family: 'Helvetica Neue';
}

.dashboard {
  
  .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: calc(100vw - 6px);
    background: white;
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.5);
    @include gradientBorder(3px);

    .logo {
      position: absolute;
      left: 20px;
      font-weight: 100;
    }

    .link-icon {
      margin-right: 40px;
      font-size: 20px;
      text-decoration: none;
      color: rgba(0,0,0,.8);
      transition: color .3s;

      &:hover {
        color: coral;
      }
    }
  }

  .lower-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 127, 80, .05);
    border-bottom: 1px solid rgba(0,0,0,.1);

    input {
      cursor: text;
      width: 300px;
      height: 30px;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 30px;
      text-align: center;
      margin-right: 10px;
      transition: border .3s;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1px;

      &:focus {
        outline: none;
        border: 1px solid coral;
      }
    }

    button {
      cursor: pointer;
      background-color: transparent;
      border: 0px;
      font-size: 20px;
      color: rgba(0,0,0,.5);
      transition: color .3s;

      &:hover {
        color: coral;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .projects {
    div {
      width: 100vw;
      height: 60px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-left: 10vw;
      padding-right: 10vw;
    }

    a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: rgba(0,0,0,.8);
      font-weight: 100;
      letter-spacing: 1px;

      i {
        height: 30px;
        width: 30px;
        padding: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        @include gradientBorder(2px);
        color: coral;
        margin-right: 20px;
      }
    }

    .remove-project {
      cursor: pointer;
      position: absolute;
      right: 10vw;
      border: 0px;
      font-size: 20px;
      background-color: transparent;
      color: rgba(0,0,0,.2);

      &:hover {
        color: coral;
      }

      &:focus {
        color: coral;
        outline: none;
      }
    }
  }
}