$gray: rgba(255,255,255, .5);

.zoom-percent {
  position: absolute;
  color: $gray;
  top: 120px;
  right: 40px;
  font-size: 12px;

  i {
    margin-right: 5px;
  }
}

.preview-display {
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 40px;
  font-size: 12px;
  border: 1px solid $gray;
  color: $gray;
  background-color: transparent;
  border-radius: 2px;
  transition: color .3s, background-color .3s, border .3s;

  &:focus {
    outlone: none;
  }

  &:hover {
    color: rgba(0,0,0,.8);
    background-color: white;
    border: 1px solid white;
  }
}

.current-component {
  position: absolute;
  right: 40px;
  top: 140px;
  color: $gray;
  font-size: 12px;
}

.link-display {
  position: absolute;
  right: 40px;
  top: 160px;
  color: $gray;
  font-size: 12px;

  i {
    margin-right: 5px;
  }
}