.zoom-percent {
  position: absolute;
  color: rgba(255,255,255,.5);
  top: 90px;
  right: 40px;
  font-size: 12px;

  i {
    margin-right: 5px;
  }
}

.preview-display {
  position: absolute;
  top: 65px;
  right: 40px;
  font-size: 12px;
}

.current-component {
  position: absolute;
  right: 40px;
  top: 110px;
  color: rgba(255,255,255,.5);
  font-size: 12px;
}

.link-display {
  position: absolute;
  right: 40px;
  top: 130px;
  color: rgba(255,255,255,.5);
  font-size: 12px;

  i {
    margin-right: 5px;
  }
}