$light-gray: rgba(0,0,0,.1);
$dark-gray: rgba(0,0,0,.8);

.inspector {
  flex: 1;
  display: flex;
  background-color: white;
  color: white;
  position: fixed;
  z-index: 200;
  top: 0px;
  right: 0px;
  width: 250px;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-bottom: 1px solid $light-gray;
  transition: flex-grow .3;
  margin-top: 60px;
  z-index: 300;
  box-shadow: 10px 0px 5px -8px $dark-gray;

  div {
    color: black;
  }

  .top-bar {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    height: 30px;
    width: 100%;
    background-color: $light-gray;
    cursor: move;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}

.inspector-container {
  width: 100%;
  margin-bottom: 3px;
}

.inspector-label {
  display: inline-block;
  font-weight: bold;
  margin: 5px;
  font-size: 12px;
  width: 52%;
  padding-left: 5px;
}

.inspector-input {
  display: inline-block;
  text-align: center;
  font-weight: 200;
  letter-spacing: 1px;
  border: 1px solid $light-gray;
  border-radius: 2px;
  margin: 5px;
  height: 20px;
  width: 35%;

  &:focus {
    outline: none;
    border: 1px solid coral;
  }
}

.inspector-image-input, .inspector-link-input {
  display: inline-block;
  margin: 5px;
  width: 60%;
}

.inspector-image {
  width: 100%;
}

.inspector-image-container {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

.inspector-clear-button {
  display: inline-block;
  width: 30%;
}

.inspector-text-input {
  display: inline-block;
  width: 93%;
  height: 100px;
  margin: 5px;
}

.save-button {
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin: 20px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid $dark-gray;
  color: $dark-gray;
  font-size: 20px;
  border-radius: 2px;
  transition: .3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: white;
    background-color: $dark-gray;
  }
}

