.modal-hidden {
  opacity: 0;
  height: 0px;
  width: 0px;
  max-height: 0px;
  overflow: hidden;
}

.modal-wrapper {
  opacity: 1;
  position: absolute;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, .9);
  transition: opacity .8s;

  .modal {
    background-color: white;
    height: 70vh;
    width: 70vw;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.preview-modal {
      height: 100%;
      width: 100%;
      div, img, form {
        box-shadow: none !important;
      }
    }

    .submit-button {
      cursor: pointer;
      width: 50%;
      height: 40px;
      background-color: transparent;
      color: coral;
      border: 2px solid coral;
      margin-top: 40px;
      transition: background-color, color, .3s;

      &:hover {
        background-color: coral;
        color: white;
      }
    }

    .close-button {
      z-index: 100;
      cursor: pointer;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: rgba(0,0,0,.2);
      transition: color .3s;

      &:hover {
        color: coral;
      }
    }

    input {
      font-size: 20px;
      flex: 1;
      width: 50%;
      max-height: 40px;
      border: 0px;
      border-bottom: 2px solid rgba(0,0,0,.1);
      text-align: center;
      transition: border-bottom .3s;

      &:focus {
        outline: none;
        border-bottom: 2px solid coral;
      }
    }
  }
}